<h4>Player Draft Rankings</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Player</th>
      <th>Nerd Rank</th>
      <th>Position Rank</th>
      <th>Overall Rank</th>
    </tr>
  </thead>

  <tbody>
    <% @draft_rankings.each do |draft_ranking| %>
      <tr>
        <td width="200">
          <img src="<%= draft_ranking.player.team.logo %>" width="25" alt="" />
          <%= draft_ranking.player.name %> (<%= draft_ranking.player.position.position %>)
        </td>
        <td><%= draft_ranking.ffn_rank %></td>
        <td><%= draft_ranking.position_rank %></td>
        <td><%= draft_ranking.overall_rank %></td>
      </tr>
    <% end %>
  </tbody>
</table>
