<h4>Teams</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>City</th>
      <th>Name</th>
      <th>Conference</th>
      <th>Division</th>
      <th>Logo</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.city %></td>
        <td><%= team.name %></td>
        <td><%= team.conference %></td>
        <td><%= team.division %></td>
        <td><img src="<%= team.logo %>" width="25" alt="" /></td>
      </tr>
    <% end %>
  </tbody>
</table>
