<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Total rounds:</strong>
  <%= @league.total_rounds %>
</p>

<p>
  <strong>Max Amount:</strong>
  $<%= @league.max_amount %>
</p>



<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
