<%= form_for([@draft, @draft_pick]) do |f| %>
  <%= f.hidden_field :draft_id, :value => @draft.id %>
  <div class="field">
    <%= f.label :fantasy_team_id %><br>
    <%= f.select :fantasy_team_id, options_from_collection_for_select(FantasyTeam.all.order('name'), "id", "name", @draft_pick.fantasy_team_id) %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.select :player_id, @players %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>