<%= link_to 'New Draft pick', new_draft_draft_pick_path(@draft), :class => 'btn btn-primary pull-right' %>
<%= link_to 'Back to Draft', drafts_path, :class => 'btn pull-right' %>
<h4>Listing Draft Picks</h4>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Fantasy team</th>
      <th>Player</th>
      <th>Position</th>
      <th>Team</th>
      <th>Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @draft_picks.each do |draft_pick| %>
      <tr>
        <td><%= draft_pick.fantasy_team.name %> <small>[<%= draft_pick.fantasy_team.owner %>]</small></td>
        <td><%= draft_pick.player.name %></td>
        <td><%= draft_pick.player.position.position %></td>
        <td>
          <%= image_tag("team_logos/#{draft_pick.player.team.id}.png", width: "25", alt: draft_pick.player.team.name)%>
          <%= draft_pick.player.team.name %> (<%= draft_pick.player.team.key %>)
        </td>
        <td>$<%= draft_pick.price %></td>
        <td><%= link_to 'Destroy', draft_draft_pick_path(@draft, draft_pick), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



