<h4>Player Auction Values</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Player</th>
      <th>Min price</th>
      <th>Max price</th>
      <th>Avg price</th>
    </tr>
  </thead>

  <tbody>
    <% @auction_values.each do |auction_value| %>
      <tr>
        <td width="200">
          <%= image_tag("team_logos/#{auction_value.player.team.id}.png", width: "25", alt: auction_value.player.team.name)%>
          <%= auction_value.player.name %> (<%= auction_value.player.position.position %>)
        </td>
        <td>$<%= auction_value.min_price %></td>
        <td>$<%= auction_value.max_price %></td>
        <td>$<%= auction_value.avg_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
