<h4>Player Draft Projections</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Player</th>
      <th>Completions</th>
      <th>Attempts</th>
      <th>Passing Yards</th>
      <th>Passing TD</th>
      <th>Passing Int</th>
      <th>Rush Yards</th>
      <th>Rush TD</th>
      <th>Fantasy Points</th>
    </tr>
  </thead>

  <tbody>
    <% @draft_projections.each do |draft_projection| %>
      <tr>
        <td width="200">
          <%= image_tag("team_logos/#{draft_projection.player.team.id}.png", width: "25", alt: draft_projection.player.team.name)%>
          <%= draft_projection.player.name %> (<%= draft_projection.player.position.position %>)
        </td>
        <td><%= draft_projection.completions %></td>
        <td><%= draft_projection.attempts %></td>
        <td><%= draft_projection.passing_yards %></td>
        <td><%= draft_projection.passing_td %></td>
        <td><%= draft_projection.passing_int %></td>
        <td><%= draft_projection.rush_yards %></td>
        <td><%= draft_projection.rush_td %></td>
        <td><%= draft_projection.fantasy_points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
