<%= form_for(@draft) do |f| %>
  <% if @draft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@draft.errors.count, "error") %> prohibited this draft from being saved:</h2>

      <ul>
      <% @draft.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :league_id %><br>
    <%= f.select :league_id, options_from_collection_for_select(League.all.order('name'), "id", "name", @draft.league_id) %>
  </div>
  <div class="field">
    <%= f.label :total_rounds %><br>
    <%= f.number_field :total_rounds %>
  </div>
  <div class="field">
    <%= f.label :max_amount %><br>
    <%= f.number_field :max_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
