<%= link_to 'New Draft', new_draft_path, :class => 'btn btn-primary pull-right' %>
<h4>Fantasy Draft Boards</h4>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Draft #</th>
      <th>League</th>
      <th>Total Rounds</th>
      <th>Max Amount</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @drafts.each do |draft| %>
      <tr>
        <td><%= draft.id %></td>
        <td><%= draft.league.name %></td>
        <td><%= draft.total_rounds %></td>
        <td>$<%= draft.max_amount %></td>
        <td><%= link_to 'Draft Board', draft_path(draft) %></td>
        <td><%= link_to 'Draft Picks', draft_draft_picks_path(draft) %></td>
        <td><%= link_to 'Edit', edit_draft_path(draft) %></td>
        <td><%= link_to 'Destroy', draft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
